* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  transition: 0.4s ease;
}
html {
  font-size: 62.5%;
}
html::-webkit-scrollbar {
  width: 1rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: red;
}
html::-webkit-scrollbar-track {
  background-color: black;
}

/* general stylings */
section {
  padding: 2rem 5%;
}
/* general stylings */

h1 {
  margin: 100rem;
}
