@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.5s ease;
}

/* root styles */
:root {
  --bg: #181616;
  --tc: #221f1f;
  --c1: red;
  --c2: whitesmoke;
  --bk: #000;
  --fw1: 500;
  --fw2: 700;
  --fw3: bold;
  --box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
/* root styles */
body {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  background-color: var(--bg);
  color: var(--c2);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--c1);
}
html::-webkit-scrollbar-track {
  background-color: black;
}

/* general stylings */
section {
  padding: 9rem 3%;
}
.btn {
  text-transform: uppercase;
  font-weight: var(--fw3);
  font-size: 2rem;
  margin-top: -1rem;
  padding: 0.5rem 2rem;
  position: relative;
  display: inline-block;
  align-items: center;
  text-align: center;
  color: var(--c2);
}
.btn::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--c1);
  transition: 0.5s ease;
}
.btn:hover::after {
  width: 100%;
}
.btns {
  text-transform: uppercase;
  font-weight: var(--fw3);
  font-size: 2rem;
  padding: 0.5rem 2rem;
  position: relative;
  display: inline-block;
  align-items: center;
  text-align: center;
  color: var(--c2);
  background-color: var(--c1);
}
.btns:hover {
  margin-left: 2rem;
  transform: scale(1.2) rotate(-4deg);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.btns i {
  padding-right: 1rem;
}
a {
  cursor: pointer;
}
.box img {
  cursor: pointer;
}
/* general stylings */

/* header section starts */
header {
  padding: 1.6rem 3%;
  width: 100%;
  height: 8rem;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--bk);
  box-shadow: var(--box-shadow);
}
.header {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
header .header .logo h1 {
  font-size: 3rem;
  font-weight: var(--fw3);
  text-transform: uppercase;
}
header .header .logo h1 span {
  color: var(--c1);
  text-transform: uppercase;
}
header .header .logo h1 span:nth-child(3) {
  color: var(--c2);
  font-size: 1.5rem;
  text-transform: uppercase;
}
header .header .logo h1 i {
  font-weight: var(--fw2);
  color: var(--c1);
  padding-right: 0.5rem;
}
.logo {
  cursor: pointer;
}
header .header .navigations {
  text-align: center;
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  padding-top: 1rem;
}
header .header .navigations .navbar {
  display: flex;
  gap: 3rem;
}
header .header .navigations .navbar a {
  text-transform: uppercase;
  color: var(--c2);
  font-weight: var(--fw2);
  font-size: 1.5rem;
}
header .header .navigations .navbar a:hover {
  color: var(--c1);
}
/* button style set to general styles */
/* button style set to general styles */
/* button style set to general styles */

.menu-btn {
  margin-top: 0.5rem;
  display: none;
}
.menu-btn i {
  font-size: 3rem;
  font-weight: var(--fw3);
  cursor: pointer;
  transition: 0.5s;
}
/* header section ends */

/* home section starts */
section.home {
  padding: 0;
}
.home .home-content {
  width: 100%;
  height: 100vh;
  position: relative;
}
.home .home-content .image-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.home .home-content .image-bg img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.home .home-content .contents {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12rem 3%;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) rgba(0, 0, 0));
}
.home .home-content .contents .transition h1 {
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: var(--fw3);
  padding-bottom: 1.5rem;
}
.home .home-content .contents .transition h6 {
  font-size: 1.5rem;
  padding-bottom: 2.5rem;
}
.home .home-content .contents .transition h6 span {
  font-size: 1.5rem;
  font-weight: var(--fw2);
  padding-left: 1rem;
}
.home .home-content .contents .transition h6 span i {
  color: var(--c1);
  font-weight: var(--fw2);
}
.home .home-content .contents .transition p {
  font-size: 2rem;
  width: 50%;
  line-height: 2;
  padding-bottom: 4rem;
}
.top-down {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.transition.show .top-down {
  opacity: 1;
  visibility: visible;
}
.name {
  transition-delay: 0.2s;
}
.info {
  transition-delay: 0.4s;
}
.desc {
  transition-delay: 0.6s;
}
.home-btn {
  transition-delay: 0.8s;
}
.home .swiper .swiper-button-next {
  margin: 0 -0.5rem;
  width: 3rem;
  height: 3rem;
  padding-left: 0.5rem;
  background-color: red;
  border-radius: 50%;
}
.home .swiper .swiper-button-prev {
  margin: 0 -0.5rem;
  width: 3rem;
  height: 3rem;
  padding-right: 0.5rem;
  background-color: red;
  border-radius: 50%;
}
.home .swiper .swiper-button-next::after,
.home .swiper .swiper-button-prev::after {
  font-size: 2rem;
  font-weight: var(--fw3);
  color: var(--c2);
}
.home .swiper .swiper-button-next:hover,
.home .swiper .swiper-button-prev:hover {
  transform: scaleY(1.2);
}
/* home section ends */

/* movies section starts */
section.movies {
  padding: 0;
}
.latest-movies .latest-box .box,
.movies .movies-box .box {
  position: relative;
  box-shadow: var(--box-shadow);
}
.latest-movies .latest-box .box .image,
.movies .movies-box .box .image {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.latest-movies .latest-box .box .image img,
.movies .movies-box .box .image img {
  width: 100%;
  height: 45rem;
  filter: brightness(0.8);
  transition: 0.4s linear;
}
.latest-movies .latest-box .box .image:hover img,
.movies .movies-box .box .image:hover img {
  transform: scale(1.2);
  filter: brightness(0.5);
}
.latest-movies .latest-box .box .description,
.movies .movies-box .box .description {
  position: absolute;
  bottom: 0%;
  left: 2%;
}
.latest-movies .latest-box .box .description h1,
.movies .movies-box .box .description h1 {
  font-size: 3.3rem;
  font-weight: var(--fw2);
  line-height: 1;
  padding-bottom: 2rem;
}

.latest-movies .latest-box .box .description h6,
.movies .movies-box .box .description h6 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.latest-movies .latest-box .box .description h5 span,
.movies .movies-box .box .description h6 span {
  font-size: 1.5rem;
  padding-left: 1rem;
  font-weight: var(--fw2);
}
.latest-movies .latest-box .box .description h6 i,
.movies .movies-box .box .description h6 i {
  color: var(--c1);
  font-weight: var(--fw2);
}
/* movies section ends */

/* latest movies section starts */
section.latest-movies {
  padding-top: 9rem;
}
section#latest-series {
  padding-top: 1rem;
}
section#latest-cartoons {
  padding-top: 1rem;
}
.latest-movies .swiper {
  position: relative;
}
.latest-movies .swiper h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: var(--fw2);
  padding-left: 3rem;
}
.latest-movies .swiper h2::before {
  position: absolute;
  content: "";
  top: -5%;
  left: 0;
  width: 0.7rem;
  height: 5.5rem;
  background-color: var(--c1);
}
.latest-movies .swiper .latest-box {
  padding-top: 4rem;
}
.latest-movies .swiper .swiper-button-next {
  margin: 0 -0.5rem;
  width: 3rem;
  height: 3rem;
  padding: 2rem;
  background-color: rgba(255, 0, 0, 0.739);
  border-radius: 50%;
}
.latest-movies .swiper .swiper-button-prev {
  margin: 0 -0.5rem;
  width: 3rem;
  height: 3rem;
  padding: 2rem;
  background-color: rgba(255, 0, 0, 0.739);
  border-radius: 50%;
}
.latest-movies .swiper .swiper-button-next::after,
.latest-movies .swiper .swiper-button-prev::after {
  font-size: 2.5rem;
  font-weight: var(--fw3);
  color: var(--c2);
}
.latest-movies .swiper .swiper-button-next:hover,
.latest-movies .swiper .swiper-button-prev:hover {
  color: var(--c1);
  background-color: var(--tc);
}
/* latest movies sectio ends */

/* pricing section starts */
.pricing {
  text-align: center;
}
.pricing h2 {
  text-transform: uppercase;
  font-weight: var(--fw3);
  font-size: 3rem;
  padding-bottom: 4rem;
}
.pricing h2 span {
  text-transform: uppercase;
  font-weight: var(--fw3);
  font-size: 3rem;
  color: var(--c1);
}
.pricing .pricing-box {
  text-align: center;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pricing .pricing-box .box {
  background-color: var(--tc);
  flex: 1 1 30rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  padding-bottom: 3rem;
  margin-bottom: 4rem;
  position: relative;
  cursor: pointer;
}
.pricing .pricing-box .box:hover {
  transform: translateY(-2rem);
}
.pricing .pricing-box .box:nth-child(1)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.7rem;
  background-color: var(--c2);
}
.pricing .pricing-box .box:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.7rem;
  background-color: var(--c1);
}
.pricing .pricing-box .box:nth-child(3):before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.7rem;
  background-color: var(--c2);
}
.pricing .pricing-box .box:hover:nth-child(1)::before {
  top: 0;
}
.pricing .pricing-box .box:hover:nth-child(3)::before {
  top: 0;
}
.pricing .pricing-box .box .type {
  display: flex;
  justify-content: space-between;
}
.pricing .pricing-box .box .type span {
  font-size: 3rem;
  font-weight: var(--fw1);
}
.pricing .pricing-box .box .type h6 {
  font-weight: var(--fw3);
  font-size: 3rem;
}
.pricing .pricing-box .box .type h6 span {
  font-weight: var(--fw3);
  font-size: 1.5rem;
}
.pricing .pricing-box .box .type-prices {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.pricing .pricing-box .box .type-prices h3 {
  font-size: 2.5rem;
  font-weight: var(--fw1);
}
.pricing .pricing-box .box .type-prices h4 {
  font-size: 2.5rem;
  font-weight: var(--fw1);
  text-decoration: line-through;
}
.pricing .pricing-box .box .type-prices h5 {
  font-size: 2.5rem;
  font-weight: var(--fw1);
  text-decoration: line-through;
}
.pricing .pricing-box .box:nth-child(2) .type-prices h4 {
  text-decoration: none;
}
.pricing .pricing-box .box:nth-child(3) .type-prices h4,
.pricing .pricing-box .box:nth-child(3) .type-prices h5 {
  font-size: 2.5rem;
  font-weight: var(--fw1);
  text-decoration: none;
}

/* pricing section ends */

/* footer section starts */
section.footer {
  padding: 0;
  background-color: var(--tc);
}
.footer .footer-box {
  display: flex;
  box-shadow: var(--box-shadow);
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  padding: 5rem 3%;
  padding-bottom: 3rem;
}
.footer .footer-box .box {
  flex: 1 1 20rem;
}
.footer .footer-box .box .logo h1 {
  font-size: 2.5rem;
  font-weight: var(--fw3);
  padding-bottom: 2rem;
}
.footer .footer-box .box .logo h1 span,
.footer .footer-box .box .logo h1 i {
  color: var(--c1);
}
.footer .footer-box .box .logo h1 span:nth-child(3) {
  font-size: 1.5rem;
  color: var(--c2);
  font-weight: var(--fw3);
}
.footer .footer-box .box p {
  font-size: 1.7rem;
  width: 100%;
  line-height: 3.3rem;
}
.footer .footer-box .box .icons {
  margin-top: 3rem;
}
.footer .footer-box .box .icons i {
  padding: 2rem;
  margin-right: 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: var(--fw3);
  color: var(--c2);
  background-color: var(--c1);
}
.footer .footer-box .box h3 {
  font-size: 2.5rem;
  font-weight: var(--fw3);
  padding-bottom: 2rem;
}
.footer .footer-box .box a {
  display: block;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  color: var(--c2);
  font-weight: var(--fw1);
}
.footer .footer-box .box a:hover {
  color: var(--c1);
}
.credit {
  text-align: center;
  padding: 1rem 0;
}
.credit p {
  font-size: 1.7rem;
  font-weight: var(--fw1);
}
.credit p span {
  color: var(--c1);
  font-weight: var(--fw3);
}
/* footer section ends */

/* loader section */
.loader-container {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10000;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.loader-container img {
  margin-top: -4%;
  width: 15rem;
}

.loader-container.fade-out {
  opacity: 0;
  transform: scaleY(0);
}
/* loader section */
